body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 10vh;
    position: relative;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    width:70% ;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('image/music3.jpeg');
    background-repeat:no-repeat ;
}
.bottom{
    position:absolute;
    /* margin-top: 600px; */
    bottom:0;
    height: 130px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    flex-direction: column;
    margin: 12px ;
}
.icons{
    margin: 14px;
}
.icons i{
    cursor: pointer;
}
#myProgressRange{
    width: 80vw;
    text-align: center;


}